body {
    background-color: white;
    background-image : url("images/flamingo.JPG");
    background-position: center;
    background-size: cover;
}

#container {
    width: 800px;
    margin: auto;
    color: white;
}

header {
    padding: 40px;
    height: 100px;
    font-size: 20px;
}

nav {
    padding: 8px 40px;
    color: white;
    font-size: 18px;
}

article {
    padding: 40px;
    min-height : 400px;
    font-size: 14px;
}

footer {
    padding: 40px;
    height: 40px;
    color: white;
    font-size: 14px;
}
